@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-header: var(--font-montserrat), sans-serif;
  --font-paragraph: var(--font-open-sans), sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-header: var(--font-header);
  --font-header: var(--font-montserrat), sans-serif;
  --font-paragraph: var(--font-open-sans), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-paragraph);
}